<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-7 fw-bold">WELCOME TO SSO DEMO APPLICATION 2</h1>
        <p *ngIf="hasLoginIn()" class="col-md-8 fs-4">This is just a web application for demo purpose only. You've logged in system</p>
        <p *ngIf="!hasLoginIn()" class="col-md-8 fs-4">This is just a web application for demo purpose only. Please login to have great experience with us</p>
        <button *ngIf="!hasLoginIn()" class="btn btn-primary btn-sm" type="button" (click)="login()">Login</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h3>Digital Transformation Services</h3>
          <p>Waverley is a trusted technology advisor and digital transformation agency with almost three decades of experience helping enterprises embrace digital transformation solutions, modernize operations and leverage digital technologies to step up their game.</p>
          <button class="btn btn-outline-light" type="button">Explore</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h3>Software Product Development Services</h3>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button">Explore</button>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2022
    </footer>
  </div>
