<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold">GOOD DAY!</h2>
        <h2 class="display-10 fw-bold">{{nameOfUser}}</h2>
        <p class="col-md-8 fs-4" >Your email: {{userEmail}}</p>
        <p class="col-md-8 fs-4" >Your roles: {{userRoles}}</p>
      </div>
    </div>
</div>
